registration/ai-ml.md
registration/all.md
registration/be.md
registration/cc-de.md
registration/cs.md
registration/de.md
registration/dm.md
registration/fe.md
registration/fullstack.md
registration/iot.md
registration/me.md
registration/qe.md
registration/etc